parser: '@babel/eslint-parser'
extends: standard
plugins:
  - babel
rules:
  prefer-const: off
  no-unused-expressions: off
  babel/no-unused-expressions: warn
  node/no-callback-literal: off
  promise/param-names: off
  semi: [error, always]
  multiline-ternary: off
  yield-star-spacing: [error, after]
  generator-star-spacing:
    - error
    - before: false
      after: false
      named: after
  space-before-function-paren:
    - error
    - anonymous: never
      asyncArrow: always
      named: never
