name: Build Executables
on:
  release:
    types: [published]
jobs:
  lint:
    name: Build Executables
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v4
        with:
          node-version: 14
      - name: Install gon via HomeBrew for code signing and app notarization
        run: |
          brew tap mitchellh/gon
          brew install mitchellh/gon/gon
      - run: ./scripts/executable.sh
        env:
          APPLE_DEV_CERT: ${{secrets.APPLE_DEV_CERT}}
          APPLE_ID_USERNAME: ${{secrets.APPLE_ID_USERNAME}}
          APPLE_ID_KEY: ${{secrets.APPLE_ID_KEY}}
      - name: Verify executable
        run: ./percy --version
      - name: Upload assets
        uses: softprops/action-gh-release@c9b46fe7aad9f02afd89b12450b780f52dacfb2d
        with:
          files: |
            percy-osx.zip
            percy-linux.zip
            percy-win.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
