name: Build Executables
on:
  release:
    types: [published]
jobs:
  build:
    name: Build Executables
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v4
        with:
          node-version: 14
          architecture: x64
      - run: ./scripts/executable.sh
        env:
          APPLE_DEV_CERT: ${{secrets.APPLE_DEV_CERT}}
          APPLE_ID_USERNAME: ${{secrets.APPLE_ID_USERNAME}}
          APPLE_ID_KEY: ${{secrets.APPLE_ID_KEY}}
      - name: Verify executable
        run: ./percy --version
      - name: Upload win artifact
        uses: actions/upload-artifact@v4
        with:
          name: win-exe
          path: percy.exe
      - name: Upload assets
        uses: softprops/action-gh-release@69320dbe05506a9a39fc8ae11030b214ec2d1f87
        with:
          files: |
            percy-osx.zip
            percy-linux.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  notify:
    needs: build
    name: Sign Win Executable
    runs-on: windows-latest
    steps:
      - name: Download a single artifact
        uses: actions/download-artifact@v4
        with:
          name: win-exe
      - name: Sign binary
        uses: lando/code-sign-action@v2
        with:
          file: ./percy.exe
          certificate-data: ${{ secrets.WINDOWS_CERT }}
          certificate-password: ${{ secrets.WINDOWS_CERT_KEY }}
      - name: Verify executable
        run: ./percy.exe --version
      - run: |
          powershell -Command "Compress-Archive -Path 'percy.exe' -DestinationPath 'percy-win.zip'"
      - name: Upload assets
        uses: softprops/action-gh-release@69320dbe05506a9a39fc8ae11030b214ec2d1f87
        with:
          files: |
            percy-win.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
