name: Release
on:
  release:
    types: [published]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v5
      with:
        node-version: 24
        registry-url: 'https://registry.npmjs.org'
    - run: yarn
    - run: yarn build
    - name: lerna publish
      run: yarn lerna publish from-package --yes
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

