name: Test
on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12
      - uses: actions/cache@v2
        with:
          path: |
            node_modules
            packages/*/node_modules
            packages/core/.local-chromium
          key: >
            ${{ runner.os }}/node-12/
            ${{ hashFiles('.github/.cache-key') }}/
            ${{ hashFiles('**/yarn.lock') }}
          restore-keys: >
            ${{ runner.os }}/node-12/
            ${{ hashFiles('.github/.cache-key') }}/
      - run: yarn
        env:
          PERCY_POSTINSTALL_BROWSER: true
      - run: yarn build
      - uses: actions/upload-artifact@v2
        with:
          name: dist
          path: packages/*/dist

  test:
    name: Test ${{ matrix.package }}
    needs: [build]
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [12]
        package:
          - '@percy/env'
          - '@percy/client'
          - '@percy/dom'
          - '@percy/logger'
          - '@percy/config'
          - '@percy/core'
          - '@percy/cli'
          - '@percy/cli-command'
          - '@percy/cli-exec'
          - '@percy/cli-snapshot'
          - '@percy/cli-upload'
          - '@percy/cli-build'
          - '@percy/cli-config'
          - '@percy/sdk-utils'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.3.0
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/cache@v2
        with:
          path: |
            node_modules
            packages/*/node_modules
            packages/core/.local-chromium
          key: >
            ${{ runner.os }}/node-${{ matrix.node }}/
            ${{ hashFiles('.github/.cache-key') }}/
            ${{ hashFiles('**/yarn.lock') }}
          restore-keys: >
            ${{ runner.os }}/node-${{ matrix.node }}/
            ${{ hashFiles('.github/.cache-key') }}/
      - uses: actions/download-artifact@v2
        with:
          name: dist
          path: packages
      - run: yarn
      - name: Install browser dependencies
        run: sudo apt-get install -y libgbm-dev
        if: ${{ matrix.os == 'ubuntu-latest' }}
      - name: Run tests
        run: yarn workspace ${{ matrix.package }} test:coverage --colors
