name: Windows
on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:
jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v3
        with:
          node-version: 14
      - uses: actions/cache@v3
        with:
          path: |
            node_modules
            packages/*/node_modules
            packages/core/.local-chromium
          key: >
            ${{ runner.os }}/node-14/
            ${{ hashFiles('.github/.cache-key') }}/
            ${{ hashFiles('**/yarn.lock') }}
          restore-keys: >
            ${{ runner.os }}/node-14/
            ${{ hashFiles('.github/.cache-key') }}/
      - run: yarn
      - run: yarn build
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: packages/*/dist

  test:
    name: Test ${{ matrix.package }}
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        package:
          - '@percy/env'
          - '@percy/client'
          - '@percy/dom'
          - '@percy/logger'
          - '@percy/config'
          - '@percy/core'
          - '@percy/cli'
          - '@percy/cli-command'
          - '@percy/cli-exec'
          - '@percy/cli-snapshot'
          - '@percy/cli-upload'
          - '@percy/cli-build'
          - '@percy/cli-config'
          - '@percy/sdk-utils'
          - '@percy/webdriver-utils'
          - '@percy/monitoring'
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v3
        with:
          node-version: 14
      - uses: actions/cache@v3
        with:
          path: |
            node_modules
            packages/*/node_modules
            packages/core/.local-chromium
          key: >
            ${{ runner.os }}/node-14/
            ${{ hashFiles('.github/.cache-key') }}/
            ${{ hashFiles('**/yarn.lock') }}
          restore-keys: >
            ${{ runner.os }}/node-14/
            ${{ hashFiles('.github/.cache-key') }}/
      - uses: actions/download-artifact@v5
        with:
          name: dist
          path: packages
      - run: yarn
      - name: Run tests
        continue-on-error: true
        id: retry0
        run: yarn workspace ${{ matrix.package }} test --colors
      - name: Run tests Retry (1/3)
        continue-on-error: true
        id: retry1
        if: steps.retry0.outcome=='failure'
        run: yarn workspace ${{ matrix.package }} test --colors
      - name: Run tests Retry (2/4)
        continue-on-error: true
        id: retry2
        if: steps.retry1.outcome=='failure'
        run: yarn workspace ${{ matrix.package }} test --colors
      - name: Run tests Retry (3/4)
        continue-on-error: true
        id: retry3
        if: steps.retry2.outcome=='failure'
        run: yarn workspace ${{ matrix.package }} test --colors
      - name: Run tests Retry (4/4)
        id: retry4
        if: steps.retry3.outcome=='failure'
        run: yarn workspace ${{ matrix.package }} test --colors
